/* apply delete margin and pading and transition and font family for all website */
*{
    margin: 0;
    padding: 0;
    transition: all 1s;
    scroll-behavior: smooth;
    font-family: iBrand

}
/* use background color for body */
body{
    background-color: #222222;
}
/* create header for website */
header{
    width: 100%;
    height: auto;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(108,9,121,1) 35%, rgba(0,212,255,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 100;
    flex-direction: column;
}
/* code for create menu */
.menu p {
    font-size: 20px;
    margin-left: 30px;
    font-size: 25px;
    transition: all 1s; 
}
/* use hover for menu */
.menu p:hover{
    transform: scale(1.2);
    color: goldenrod;
    background-color: #222222;
    cursor: pointer;
    border-radius: 10px;
}
/* chnage information a tag */
a{
    text-decoration: none;
    color: white;
}
/* create menu for webiste */
.menu{
    display: flex;
}
/* use menu icon */
#menuIcon{
    position: absolute;
    left: 10px;
    top: 10px;
    color: white;
    width: 50px;
    background-color: black;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    display: none;
}
/* use :checked for menuBox */
#checkbox:checked ~ .menuBox {
    opacity: 0;
}
/* use :checked for .menuHamberger */
#checkbox:checked ~ .menuHamberger {
    opacity: 1;
    width: 300px;
}
/* change information checkBox */
#checkbox{
    position: absolute;
    left: 0px;
    width: 65px;
    height: 50px;
    z-index: 100;
    opacity: 0;
}
/* create .menuHamberger */
.menuHamberger{
    width: 0;
    height: 100vh;
    background-color: white;
    position: absolute;
    left: 0;
    margin-top: 950px;
    opacity: 0;
    position: fixed;
}
/* change color text for .menuHamberger */
.menuHamberger p{
    color: #222222;
}
/* change information tag hr */
.hr{
    width: 300px;
}
/* create box for use flex in hr */
.hrBox{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
/* use cancel gif */
#cancel{
    position: absolute;
    left: 10px;
    top: 10px;
    width: 50px;
    display: none;
}
/* use icon laptop for header */
.laptopHeader{
    position: absolute;
    animation: laptop 1s linear infinite;
    width: 300px;
}
/* create mini header for iframe laptop */
.miniHeader{
    height: 100vh;
    border-bottom: 3px solid white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* use icon for header */
header i {
    font-size: 50px;
    color: white;
}
/* use text and title for header */
header p {
    font-size: 30px;
    color: white;  
}
/* create mini box for laptop */
.mainBoxLaptop{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
/* use laptop pic  */
#laptop{
    width: 200px;
    margin-top: 200px;
    margin-left: 50px;
}
/* use icon sociamedia for header */
.sociaMedia i{
    font-size: 50px;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    margin-left: 5px;
}
/* use hover for socia media icon */
.sociaMedia i:hover{
    box-shadow: 0 0 10px #C73659,
    0 0 20px #FFF7F1,
    0 0 40px #FFF7F1,
    0 0 80px #FFF7F1,
    0 0 160px #FFF7F1;
    color: orange;
    cursor: pointer;
}
/* use box for socia media mini header */
.sociaMedia{
    position: absolute;
    bottom: 100px;
    left: 45vw ;
    text-align: center;
}
/* use box for category brand */
.box p{
    color: white;
}
/* create box */
.box{
    width: 200px;
    height: 50px;
    border:3px solid aqua;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    margin: 100px;
    overflow: hidden;
    border-radius: 30px;
}
/* use before for box  */
.box::before{
    width: 0%;
    height: 100%;
    content: '';
    background-color: #5DB996;
    position: absolute;
    transform: skew(45deg);
    z-index: -1;
    margin-left: -300px;
    transition: all 1s;
}
/* use hover for before */
.box:hover.box::before{
    width: 400px;
}
/* use hover for box */
.box:hover{
    cursor: pointer;
    box-shadow: 0 0 10px #5DB996,
    0 0 20px #5DB996,
    0 0 40px #5DB996,
    0 0 80px #5DB996,
    0 0 160px #5DB996 ;
}
.box:nth-child(2){
    border-color: #FF748B;
}
.box:nth-child(2)::before{
    background-color: #F72C5B;
}
.box:nth-child(2):hover{
    box-shadow: 0 0 10px #F72C5B,
    0 0 20px #F72C5B,
    0 0 40px #F72C5B,
    0 0 80px #F72C5B,
    0 0 160px #F72C5B;
}
.box:nth-child(3){
    border-color: #FFB200;
    
}
.box:nth-child(3)::before{
    background-color: #EB5B00;
}
.box:nth-child(3):hover{
    box-shadow: 0 0 10px #EB5B00,
    0 0 20px #EB5B00,
    0 0 40px #EB5B00,
    0 0 80px #EB5B00,
    0 0 160px #EB5B00;
}
.box:nth-child(4){
    border-color: #FFCAD4;
    
}
.box:nth-child(4)::before{
    background-color: #FF407D;
}
.box:nth-child(4):hover{
    box-shadow: 0 0 10px #FF407D,
    0 0 20px #FF407D,
    0 0 40px #FF407D,
    0 0 80px #FF407D,
    0 0 160px #FF407D;
}
.box:nth-child(5){
    border-color: #BF3131;
    
}
.box:nth-child(5)::before{
    background-color: #C21010;
}
.box:nth-child(5):hover{
    box-shadow: 0 0 10px #C21010,
    0 0 20px #C21010,
    0 0 40px #C21010,
    0 0 80px #C21010,
    0 0 160px #C21010;
}
.box:nth-child(6){
    border-color: #EEDF7A;
    
}
.box:nth-child(6)::before{
    background-color: #F3C623;
}
.box:nth-child(6):hover{
    box-shadow: 0 0 10px #F3C623,
    0 0 20px #F3C623,
    0 0 40px #F3C623,
    0 0 80px #F3C623,
    0 0 160px #F3C623;
}
.box:nth-child(7){
    border-color: #6EACDA;
    
}
.box:nth-child(7)::before{
    background-color: #4C3BCF;
}
.box:nth-child(7):hover{
    box-shadow: 0 0 10px #4C3BCF,
    0 0 20px #4C3BCF,
    0 0 40px #4C3BCF,
    0 0 80px #4C3BCF,
    0 0 160px #4C3BCF;
}
.box:nth-child(8){
    border-color: #E80F88;
    
}
.box:nth-child(8)::before{
    background-color: #790252;
}
.box:nth-child(8):hover{
    box-shadow: 0 0 10px #790252,
    0 0 20px #790252,
    0 0 40px #790252,
    0 0 80px #790252,
    0 0 160px #790252;
}
/* create main box for use flex for box */
.mainBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
/* create videoautoplay  */
.videoAutoPlay{
    position: relative;
}
.videoAutoPlay video{
    width: 100%;
    height: 100%;
    position: relative;
}
/* create slider autoplay for animation */
.sliderAutoPlay{
    width: 100%;
    height: 700px;
    background-image: url(/assets/images/slider-pic1.jpg);
    background-size: cover;
    animation: slider 10s linear infinite;
}
/* create slider laptop for laptop */
.priceSlider{
    height: 500px;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(128,45,253,1) 100%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    margin: 50px;
    border-radius: 30px 0px 0px 0px;
}
/* use laptop box for enter pic and price and add to cart  */
.laptop{
    width: 250px;
    height: 300px;
    background-color: #3C3D37;
    border-radius: 30px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* create del for price before off  */
.laptop del{
    font-size: 20px;
    color: white;
}
/* create del for price after off  */
.laptop p {
    font-size: 20px;
    color: orange;
}
/* create add to cart box */
.addToCartBox{
    width: 100%;
    height: auto;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,9,1) 35%, rgba(0,212,255,1) 100%);
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
/* use title for add to cart */
.addToCartBox p{
    font-size: 20px;
    color: white;
}
/* use title for off box */
.titleOffBox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}
/* use text for titile of box */
.titleOffBox p{
    color: white;
    font-size: 50px;
}
/* use icon for title box */
.titleOffBox i{
    font-size: 50px;
    color: white;
}
/* use image for laptop box */
.imageBox , .imageBox2 ,.imageBox3 , .imageBox4 , .imageBox5, .imageBox6 , .imageBox7 , .imageBox8 , .laptopAsus1 , .laptopAsus2 , .laptopAsus3 , .dellLaptop1,.dellLaptop2,.dellLaptop3 , .lenovoLaptop1 , .lenovoLaptop2, .lenovoLaptop3 , .laptopHp1 , .laptopHp2 , .laptopHp3 , .laptopPixel1 , .laptopPixel2 , .laptopPixel3 , .laptopMicrosoft1 , .laptopMicrosoft2 , .laptopMicrosoft3{
    width: 70%;
    height: 170px;
    background-image: url(/assets/images/p-laptop1.webp);
    background-size: cover;
    border-radius: 20px;
    margin: 20px;
}
.imageBox2{
    background-image: url(/assets/images/p-laptop2.jpg);
}
.imageBox3{
    background-image: url(/assets/images/p-laptop3.jpg);
}
.imageBox4{
    background-image: url(/assets/images/p-laptop4.avif);
}
.imageBox5{
    background-image: url(/assets/images/p-laptop5.jpg);
}
.imageBox6{
    background-image: url(/assets/images/p-laptop6.jpg);
}
.imageBox7{
    background-image: url(/assets/images/p-laptop7.webp);
}
.imageBox8{
    background-image: url(/assets/images/p-laptop8.webp);
}
/* create main best laptop for use flex */
.mainBestLaptop{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
/* use box for best brand title for use flex */
.bestBrandTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}
/* use title for best brand */
.bestBrandTitle p{
    color: white;
    margin-top: 100px;
    font-size: 50px;
}
/* use pic for laptop box for best brand */
.laptopAsus1{
    background-image: url(/assets/images/laptop-asus1.webp);
}
.laptopAsus2{
    background-image: url(/assets/images/laptop-asus2.jpg);
}
.laptopAsus3{
    background-image: url(/assets/images/laptop-asus3.webp);
}
.dellLaptop1{
    background-image: url(/assets/images/laptop-dell1.jpg);
}
.dellLaptop2{
    background-image: url(/assets/images/laptop-dell2.webp);
}
.dellLaptop3{
    background-image: url(/assets/images/laptop-dell3.jpg);
}
.lenovoLaptop1{
    background-image: url(/assets/images/lenovo-laptop1.jpg);
}
.lenovoLaptop2{
    background-image: url(/assets/images/lenovo-laptop2.webp);
}
.lenovoLaptop3{
    background-image: url(/assets/images/lenovo-laptop3.jpg);
}
.laptopHp1{
    background-image: url(/assets/images/hp-laptop1.webp);
}
.laptopHp2{
    background-image: url(/assets/images/hp-laptop2.webp);
}
.laptopHp3{
    background-image: url(/assets/images/hp-laptop3.webp);
}
.laptopPixel1{
    background-image: url(/assets/images/laptop-pixel1.jpg);
}
.laptopPixel2{
    background-image: url(/assets/images/laptop-pixel2.jpg);
}
.laptopPixel3{
    background-image: url(/assets/images/laptop-pixel3.webp);
}
.laptopMicrosoft1{
    background-image: url(/assets/images/laptop-microsoft1.jpg);
}
.laptopMicrosoft2{
    background-image: url(/assets/images/laptop-microsoft2.jpg);
}
.laptopMicrosoft3{
    background-image: url(/assets/images/laptop-microsoft3.jpg);
}
/* create footer for website */
footer{
    height: auto;
    background: rgb(180,58,58);
    background: linear-gradient(90deg, rgba(180,58,58,1) 16%, rgba(253,29,109,1) 49%, rgba(69,85,252,1) 100%);
}
/* use icon for footer */
footer i {
    font-size: 50px;
    color: white;
}
/* use title for footer */
.titleFooter{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* use menu for footer */
footer p {
    font-size: 30px;
    margin:50px;
}
/* change color title footer */
.titleFooter p{
    color: white;
}
/* create main media for apply flex for menu footer */
.mainMediFooter{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* change color munu footer */
.mainMediFooter p{
    color: white;
}
/* use hover for menu footer */
.mainMediFooter p:hover{
    color: #3C3D37;
    transform: scale(1.2);
}
/* create social media box for apply flex */
.sociaMediaBox{
    display: flex;
    justify-content: center;
}
/* use icon for social media box */
.sociaMediaBox i{
    margin-left: 20px;
}
/* create animation for laptop miniheader */
@keyframes laptop{
    0%{
        opacity: 0.5;
        transform: scale(1);
    }
    50%{
        opacity: 1;
        transform: scale(1.3);
    }
    100%{
        opacity: 0.5;
        transform: scale(1);
    }
}
/* create slider auto play  */
@keyframes slider{
    0%{
        background-image: url(/assets/images/slider-pic1.jpg);
    }
    10%{
        background-image: url(/assets/images/slider-pic2.jpg);
    }
    20%{
        background-image: url(/assets/images/slider-pic3.jpg);
    }
    40%{
        background-image: url(/assets/images/slider-pic5.jpg);
    }
    50%{
        background-image: url(/assets/images/slider-pic6.jpg);
    }
    60%{
        background-image: url(/assets/images/slider-pic7.jpg);
    }
    100%{
        background-image: url(/assets/images/slider-pic1.jpg);
    }
}
/* more code for responsive web */
@media(max-width:950px){
    .laptop{
        margin-top: 50px;
    }
    .bestBrandTitle p{
        font-size: 30px;
        position: relative;
        left: 50px;
    }
    .sliderAutoPlay{
        height: 300px;
    }
    .titleOffBox p{
        font-size: 25px;
    }
    
}
@media(max-width:700px){
    #menuIcon{
        display: block;
    }
    #cancel{
        display: block;
    }
    .menu{
        display: none;
    }
}
